* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE */
.contact-section {
  background: #19192c;
  padding: 150px 20px 120px 20px;
  text-align: center;
  color: white;
}

/* HEADING */
.contact-section h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

/* CONTAINER */
.contact-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* CONTACT CARD */
.contact-details {
  background: #f5f7fa;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 520px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: left;
}

/* TITLE */
.contact-details h3 {
  color: #19192c;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* DESCRIPTION */
.details-text {
  color: #19192c;
  margin-bottom: 30px;
  font-size: 0.95rem;
}

/* INFO ROW */
.info-box {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

/* ICON */
.info-box svg {
  background: #19192c;
  color: #ffffff;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 10px;
  font-size: 20px;
  flex-shrink: 0;
}

/* TEXT */
.info-box h4 {
  color: #19192c;
  font-size: 1rem;
}

.info-box p {
  color: #19192c;
  font-size: 0.9rem;
}

/* EMAIL LINK */
.info-box a {
  color: #19192c;
  text-decoration: none;
}

.info-box a:hover {
  text-decoration: underline;
}

/* SOCIAL ICONS */
.social {
  margin-top: 30px;
}

.social a {
  margin-right: 18px;
  font-size: 22px;
  color: #19192c;
  transition: 0.3s;
}

.social a:hover {
  color: #8f8b8b;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-section {
    padding: 80px 15px;
  }

  .contact-details {
    padding: 30px;
  }
}
