.footer {
    background-color:  #19192c; /* Dark gray */
    color: #f3f4f6; /* Light gray */
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .footer-links {
    display: flex;
    gap: 15px;
  }
  
  .footer-links a {
    color: #f3f4f6;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #3b82f6; /* Blue hover effect */
  }
  